<div class="module">
  <h1 class="module_heading">News</h1>
  <div class="ticker">
    <div class="ticker_block--primary">
      <img src="../assets/images/louis.png">
      <div class="ticker_item">
        <p class="timestamp">10 November 2017 10:53 AM, PST - The Playlist</p>
        <h3 class="headline">‘THE STORIES ARE TRUE,” Louis C.K. Says, After Women Described His Sexual Misconduct</h3>
      </div>
    </div>

    <div class="ticker_block--secondary">
      <div class="ticker_item">
        <p class="timestamp">10 November 2017 9:18 AM, PST - IndieWire</p>
        <h3 class="headline">‘House of Cards’ writers racing against the clock to rewrite show</h3>
      </div>
      <div class="ticker_item">
        <p class="timestamp">9 November 2017 11:28 AM, PST - TMZ</p>
        <h3 class="headline">Jennifer Lawrence asks Kim Kardashian all the right questions on Late Night</h3>
      </div>
      <div class="ticker_item">
        <p class="timestamp">10 November 2017 3:12 PM, PST - Rolling Stone</p>
        <h3 class="headline">Taylor Swift drops ‘Reputation’: What people are saying</h3>
      </div>
      <div class="ticker_item">
        <p class="timestamp">10 November 2017 12:08 PM, PST - Collider</p>
        <h3 class="headline">Chance the Rapper with Eminem on SNL next week</h3>
      </div>
  </div>
</div>
</div>
