<div class="side_module">
  <h1 class="module_heading">Now playing near you</h1>
  <div class="supplement"><a href="#">Change home theater location</a></div>
    <div class="block_item--tertiary">
      <div class="block_poster now_1"></div>
      <div class="block_detail">
        <h3 class="detail_1">Thor: Ragnarok (PG-13)</h3>
        <p class="detail_2">IMAX: 6:30pm | 9:10pm | 9:50pm</p>
        <p class="detail_3">3D: 3:50pm | 7:00pm | 10:40pm</p>
      </div>
    </div>

    <div class="block_item--tertiary">
      <div class="block_poster now_2"></div>
      <div class="block_detail">
        <h3 class="detail_1">Justice League (PG-13)</h3>
        <p class="detail_2">IMAX: 6:30pm | 9:10pm | 9:50pm</p>
        <p class="detail_3">3D: 3:50pm | 7:00pm | 10:40pm</p>
      </div>
    </div>

    <div class="block_item--tertiary">
      <div class="block_poster now_3"></div>
      <div class="block_detail">
        <h3 class="detail_1">Lady Bird (PG-13)</h3>
        <p class="detail_2">IMAX: 6:30pm | 9:10pm | 9:50pm</p>
        <p class="detail_3">3D: 3:50pm | 7:00pm | 10:40pm</p>
      </div>
    </div>
</div>
