<div class="module">

  <h1 class="module_heading">Popular on Streaming</h1>

    <h2 class="block_item--title">Amazon</h2>
    <h2 class="block_item--title">Netflix</h2>
    <h2 class="block_item--title">Hulu</h2>

  <div class="block_thirds">
    <div class="block_item--popular popular_1"></div>
    <div class="block_item--popular popular_2"></div>
    <div class="block_item--popular popular_3"></div>
  </div>

  <div class="block_thirds">
      <div class="block_item--secondary popular_4"></div>
      <div class="block_item--secondary popular_5"></div>
      <div class="block_item--secondary popular_6"></div>
    </div>

  <div class="supplement">
    <a class ="supplement_popular" href="#">See all Amazon</a>
    <a class ="supplement_popular" href="#">See all Netflix</a>
    <a class ="supplement_popular" href="#">See all Hulu</a>
  </div>

</div>
