<div class="side_module">
  <h1 class="module_heading">Top 10</h1>
  <h2>Movies | TV Series</h2>
    <div class="block_item--tertiary">
      <div class="block_poster top10_1"></div>
      <div class="block_detail">
        <h3 class="detail_1">Okja</h3>
        <p class="detail_2">TV-MA | 2h | Action, Adventure, Drama | 28 June 2017 (USA)</p>
        <p class="detail_3">Director: Bong Joon Ho</p>
        <p class="detail_3">
        Stars: Tilda Swinton, Paul Dano, Seo-Hyun Ahn, Jake Gyllenhaal</p>
      </div>
    </div>

    <div class="block_item--tertiary">
      <div class="block_poster top10_2"></div>
      <div class="block_detail">
        <h3 class="detail_1">Call me by your name</h3>
        <p class="detail_2">R | 2h 12min | Drama, Romance | 24 November 2017 (USA)</p>
        <p class="detail_3">Director: Luca Guadagnino</p>
        <p class="detail_3">Stars: Armie Hammer, Timothée Chalamet, Michael Stuhlbarg</p>
      </div>
    </div>

    <div class="block_item--tertiary">
      <div class="block_poster top10_3"></div>
      <div class="block_detail">
        <h3 class="detail_1">The Shawshank Redemption</h3>
        <p class="detail_2">R | 2h 22 | Crime, Drama | 28 June 1996 (USA)</p>
        <p class="detail_3">Director: Mister Person</p>
        <p class="detail_3">
        Stars: We Are, All Such Famous, Celebrities Woo</p>
      </div>
    </div>
</div>
