.block_thirds,
.block_quarters {
  width: 100%;
  text-align: center;
}

.block_item--poster {
  display: inline-block;
  height: 600px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 600px) {
    display: inline-block;
    width: 24.3%;
    height: 400px;
  }
}

.block_item--primary {
  display: inline-block;
  height: 600px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 600px) {
    display: inline-block;
    width: 32.72%;
    height: 400px;
  }
}

.block_item--secondary {
  display: inline-block;
  height: 200px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 600px) {
    display: inline-block;
    width: 32.72%;
    height: 200px;
  }
}

.block_item--popular {
  display: none;

  @media (min-width: 600px) {
    display: inline-block;
    width: 32.72%;
    height: 400px;
  }
}

// Hide images after first
@media (max-width: 600px) {
  .block_item--primary:nth-child(2), .block_item--primary:nth-child(3){
    display: none;
  }
}

@media (max-width: 600px) {
  .block_item--poster:nth-child(2), .block_item--poster:nth-child(3),
  .block_item--poster:nth-child(4){
    display: none;
  }
}
//
