.explore_1 {
  background: url('../assets/images/guncrazy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.explore_2 {
  background: url('../assets/images/basicinstinct.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.explore_3 {
  background: url('../assets/images/chocolat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.new_1 {
  background: url('../assets/images/murder.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.new_2 {
  background: url('../assets/images/thelma.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.new_3 {
  background: url('../assets/images/thumper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.new_4 {
  background: url('../assets/images/three.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
