.explore_1 {
  background: url('../assets/images/guncrazy.jpg');
  @include poster;
}

.explore_2 {
  background: url('../assets/images/basicinstinct.jpg');
  @include poster;
}

.explore_3 {
  background: url('../assets/images/chocolat.jpg');
  @include poster;
}

.new_1 {
  background: url('../assets/images/murder.jpg');
  @include poster;
}

.new_2 {
  background: url('../assets/images/thelma.jpg');
  @include poster;
}

.new_3 {
  background: url('../assets/images/thumper.jpg');
  @include poster;
}

.new_4 {
  background: url('../assets/images/three.jpg');
  @include poster;
}

.news_1 {
  background: url('../assets/images/louis.png');
  @include poster;
}

.popular_1 {
  background: url('../assets/images/grandtour.jpg');
  @include poster;
}

.popular_2 {
  background: url('../assets/images/strangerthings.jpg');
  @include poster;
}

.popular_3 {
  background: url('../assets/images/broadcity.jpg');
  @include poster;
}

.popular_4 {
  background: url('../assets/images/lore.jpg');
  @include poster;
}

.popular_5 {
  background: url('../assets/images/narcos.jpg');
  @include poster;
}

.popular_6 {
  background: url('../assets/images/handmaidstale.jpg');
  @include poster;
}

.top10_1 {
  background: url('../assets/images/okja.jpg');
  @include poster;
}

.top10_2 {
  background: url('../assets/images/callme.jpg');
  @include poster;
}

.top10_3 {
  background: url('../assets/images/shawshank.jpg');
  @include poster;
}

.now_1 {
  background: url('../assets/images/thor.jpg');
  @include poster;
}

.now_2 {
  background: url('../assets/images/justiceleague.jpg');
  @include poster;
}

.now_3 {
  background: url('../assets/images/ladybird.jpg');
  @include poster;
}
