.ticker_block--primary {
  width: 60%;
  background-color: blue;
  height: 500px;
  float: left;
}

.ticker_block--secondary {
  width: 40%;
  background-color: red;
  height: 500px;
  float: right;
}
