.ticker {
  height: 400px;

  @media (max-width:500px) {
    height: 350px;
  }
}

.ticker_block--primary {
  // background-color: blue;
  height: 100%;
  width: 100%;

  @media (min-width: 600px){
    float: left;
    width: 60%;
  }
}

.ticker_block--secondary {
  display: none;

  @media (min-width: 600px) {
    // background-color: red;
    display: inline-block;
    float: right;
    height: 100%;
    width: 40%;
    overflow: auto;
    }
}

.ticker_item {
  display: block;
  margin: 0 10px 20px 10px;
}

.ticker_item--main .headline{
  display: block;
  font-size: $font-size-heading-medium;
  margin-top: 20px;
}
