.ticker {
  height: 400px;
}

.ticker_block--primary {
  // background-color: blue;
  height: 100%;
  width: 100%;

  @media (min-width: 600px){
    float: left;
    width: 60%;
  }
}

.ticker_block--secondary {
  display: none;

  @media (min-width: 600px) {
    // background-color: red;
    display: inline-block;
    float: right;
    height: 100%;
    width: 40%;
    }
}

.ticker_item {
  display: block;
}
