.block_item--title {
  display: none;

  @media (min-width: 600px) {
    display: inline-block;
    margin: 0 auto;
    width: 32.72%;
  }
}

.supplement {
  padding: 10px 0 10px 0;
  font-weight: bolder;
}

.supplement_popular {
  @extend .supplement;
  @extend .block_item--title;
  display: none;
  @include title_thirds;
}

.hero_heading {
  color: $color-white;
  text-shadow: 2px 2px 2px $color-black;
}
