@mixin no-bullet {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@mixin scrollable {
  height: calc(100vh - #{$height-header});
  overflow: scroll;
  position: relative;
}

@mixin poster {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin title_thirds {
  @media (min-width: 600px) {
    display: inline-block;
    width: 32.72%;
    }
  }
