<!DOCTYPE html>
<html>
  <div class="wrapper">
  {% include head.html %}
  <body>
    {% include hero.html %}
    {% include new_releases.html %}
      <div class="main">
        {% include ticker.html %}
        {% include explore.html %}
        {% include popular.html %}
      </div>
      <div class="sidebar">
        {% include top10.html %}
        {% include now_playing.html %}
        {% include twitter.html %}
        {% include facebook.html %}
      </div>
    {% include footer.html %}
  </body>
</div>
</html>
